/* Register.css */

.register-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #09090a, #bccbe6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.register-card {
  background: #fff;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.register-card h2 {
  margin-bottom: 25px;
  color: hsl(11, 63%, 50%);
  font-size: 28px;
  font-weight: bold;
}

.register-form input {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  color:rgb(255, 115, 0);
  border: 1px solid #042960;
  border-radius: 10px;
  font-size: 16px;
  transition: 0.3s;
}

.register-form input:focus {
  outline: none;
  border-color: #1e3c72;
  box-shadow: 0 0 0 2px rgba(30, 60, 114, 0.2);
}

.register-form button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background:hsl(11, 63%, 50%);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.register-form button:hover {
  background: #2a5298;
}

.login-text {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.login-text a {
  color: #1e3c72;
  text-decoration: none;
  font-weight: 500;
}

.login-text a:hover {
  text-decoration: underline;
}

.forgot-password {
  text-align: right;
  margin: 10px 0;
}

.forgot-password a {
  color: #f95408;
  font-size: 0.9rem;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}
